svg {
    background-color: #c1e1f0;
}


.states {
    fill: #f4f0e7;
    stroke: #445C53;
    stroke-width: 1px;
}

.municipalities {
    fill:#445C53;
    stroke:#DBCDAD;
    stroke-width: .5px;
}


.map {
    border: medium ridge #916500;
}